<div class='container my-5'>

	<h1 class="text-center">Tous les Forums</h1>

	<table class="table table-bordered table-striped mt-4">

		<thead>
			<tr class="border-0">
				<th scope="col-md-10 border-0 text-primary">Titre du forum </th>
				<th scope="col-md-2 m-auto border-0 text-white">Nombre de posts</th>   
			</tr>
		</thead>

		<tbody>
			<% @forums.each do |forum| %>
				<tr>
					<% if forum.commitment %>
						<td class="py-2"><%= link_to forum.commitment.title, forum_path(forum) %></td>
					<% else %>
						<td class="py-2"><%= link_to "Forum Général", forum_path(forum) %></td>
					<% end %>
					<td class="py-2"><%= forum.posts.count%></td>
				</tr>
			<% end %>
		</tbody>

	</table>
</div>
