<%= form_for @reply, :url => {:controller => "replies", :action => "create"} do |f| %>
  <%= f.text_area :content, class:"form-control border" %></p>
<button type='submit' class='btn btn-primary'>Créer un commentaire</button>
<% end %>