<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenue sur Le Lobby !</h1>
    <p>Tu t'es inscrit sur le-lobby.herokuapp.com en utilisant l'e-mail suivant : <%= @user.email %>.</p>
    <br/>
    <p>Le Lobby est un projet engagé, militant, social et technique qui souhaite apporter sa pierre à la résolution des problématiques contemporaines les plus importantes. 
      Merci de rejoindre notre projet qui est d'allier progression technique et engagement militant, nous t'invitons dès maintenant à mettre en avant tes motivations! 
      Nous souhaitons également faire évoluer Le Lobby, n'hésite pas à nous faire des retours. </p>
    <br/>
    <p>Merci pour ton inscription et à bientot !</p>
    </body>
</html>
