<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3> From : <%= @email %> </h3>
    <h2> Demande de Contact pour le sujet suivant : <%= @subject %></h2>
    <br/>
    <p> Retour Utilisateur :<%= @content %> </p>
  </body>
</html>
