<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey, nouvelle notif !</h1>
    <h3> From : <%= @email %> </h3>
    <br/>
    <p> <%= @content %> </p>
  </body>
</html>
