

<div class="alert alert-primary alert-dismissible fade show mb-5" role="alert">
  <strong>Avertissement :</strong> Le Lobby est un projet étudiant en cours de développement et par conséquent en évolution permanente. En tant que structure nous nous présentons comme une Association loi de 1901 à but non-lucratif, mais il est important de noter que l’association n’existe pas à l’heure actuelle.
Ainsi, il est impossible pour le moment d’adhérer, de nous trouver sur le Registre National des Associations, de consulter notre charte ou nos statuts.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


    <div class ="col-sm-11 mb-5 bg-white pt-5 pr-5 pl-5 pb-2 m-auto " >

        <h2 class="text-center mb-5">À propos</h2>


        <div class="mb-4" >
            <h4 class="mb-3">Qu’est ce qu’un Lobby ? </h4>
            <p> Selon Wikipédia : un lobby, ou groupe d'intérêt, groupe de pression, groupe d'influence, est un groupe de personnes créé pour promouvoir et défendre des intérêts, privés ou non, en exerçant des pressions ou une influence sur des personnes ou des institutions publiques détentrices de pouvoir. 
            <br/>Ces actions, menées par des représentants d'intérêts, sont le lobbying, qui consiste « à procéder à des interventions destinées à influencer directement ou indirectement l'élaboration, l'application ou l'interprétation de mesures législatives, normes, règlements et plus généralement, toute intervention ou décision des pouvoirs publics ».
            <br/>Par exemple, le rôle d'un lobby sera « d'infléchir une norme, d'en créer une nouvelle ou de supprimer des dispositions existantes ».
            <br/> <br/>Le Lobby est une association loi de 1901 à but non-lucratif visant à fédérer les acteurs de bonne volonté dans le domaine de l’écologie. Il se donne pour objectif la création d’une plateforme web centralisant l’information, l’action, ainsi que la volonté d’engagement – les Mouvements - de ces acteurs.
            <br/> Le Lobby est le réseau des mouvements écologistes.</p>
        </div>

        <div class="mb-4">
            <h4 class="mb-3">Pourquoi ? </h4>
            <p>L’idée du projet part du constat simple qu’il manque un élan collectif à la mise en pratique de la transition écologique. 
            Aujourd’hui par exemple, un particulier qui souhaiterait changer ses habitudes est confronté à la double difficulté de l’accès à l’information, et à celle du sentiment de l’absence d’impact de sa démarche.
            <br/><br/>   En proposant une plateforme aux acteurs de l’écologie, nous visons à encourager les démarches individuelles et collectives, et la création de cet élan collectif qui nous manque cruellement.
                Si la notion de Lobby pâtit d’une mauvaise image auprès des écologistes, c’est que le lobbying tel que nous le connaissons défend en général les intérêts de groupes privés. 
                <br/>Toutefois, nous assumons la volonté de nous inscrire dans ce type de démarche puisque Le Lobby souhaite :
                <br/>- défendre nos intérêts communs et ceux de notre planète
                <br/>- pouvoir lutter à armes égales contre les groupes dont l’intérêt est en opposition avec celui de la planète</p>
        </div>

        <div class="mb-4">
            <h4 class="mb-3">Les acteurs</h4>
            <p>Nous souhaitons associer à ce projet plusieurs types d’acteurs :<br/>
            <br/>- les particuliers, afin de leur proposer de la ressource
            <br/>- les associations, afin de leur donner un espace pour pouvoir intéragir avec les particuliers
            <br/>- les médias, afin de sourcer de manière fiable les informations relayées sur la plateforme</p>
        </div>

        <div>   
            <h4 class="mb-3 pb-3">Comment ?</h4>
            <p>Afin de traiter cette problématique, notre objectif est de :<br/>
            <br/>- créer des outils statistiques soulignant la dynamique en cours du changement des comportements
            <br/>- réunir les acteurs rejoint les mêmes Mouvements
            <br/>- mettre en place une représentation légitime et démocratique de nos adhérents
                Cette représentation aura pour mission de défendre les intérêts de nos adhérents formalisés par nos outils statistiques avec les méthodes utilisées par le lobbying d’aujourd’hui.</p>
        </div>
    </div>

    <div class="col-sm-11 bg-white pt-4 px-5 pb-5 mx-auto mt-3">
            <h4 class="mb-3">Qui est derrière le projet ?</h4>
            <p>La plateforme du Lobby est développée dans le cadre du Projet Final de la formation The Hacking Project session 11. L’équipe est constituée d’Agathe, Amine, Axel, Daniel, Mathieu et Nicolas. Merci à eux pour leur travail et leur engagement dans le projet.
            <br/> <h5 class="text-muted">Ce que nous sommes :</h5>
            - une plateforme regroupant des Mouvements écologistes, se cantonnant à l’heure actuelle aux petits gestes de la vie quotidienne
            <br/>- une plateforme vous permettant en tant que visiteur ou en tant qu’utilisateur de nous faire parvenir vos suggestions
            <br/>- un projet d’Association loi de 1901 à but non-lucratif en cours d’élaboration
            <br/>- un projet étudiant dans le domaine du développement-web</p>

            <br/><h5 class="text-muted">Ce que nous aspirons à être :</h5>
            <p>- une Association loi de 1901 à but non-lucratif
            <br/>- une plateforme tournée vers l’écologie entièrement ouverte à la consultation sans publicité
            <br/>- une plateforme centralisant l’information fournie par les médias que nous choisissons
            <br/>- une plateforme d’échange et de proposition via un systême de Forums et d’Évênements
            <br/>- une plateforme proposant des actions de lobbying auprès du législateur, propositions soumises au vote des utilisateurs et adhérents</p>
            
            <br/><h5 class="text-muted">Ce que nous ne sommes pas :</h5>
            <p>- une entreprise
            <br/>- un lobby défendant des intérêts privés ou commerciaux
            <br/>- un réseau social revendant les informations de ses utilisateurs
            <br/>- un simple projet étudiant : nous souhaitons développer et faire vivre ce réseau au délà de notre formation</p>

    </div>





