<div class="container row col-md-11 mx-auto mosaik p-0">
    <div class="col-md-7 border mb-4 ">
        <h3 class="text-center p-4 mb-2">Mouvement plus populaire</h3>
    </div>

    <div class="col-md-5 pr-0  ">
        <div class= "border mosaika mb-4 p-3">  
            <h5>Proposition Valeur</h5>
        </div>

        <div class="border mosaika p-3 mb-4">
          <h5>Camembert</h5>
        </div>

    </div>

</div>

<div class="container row col-md-11 m-auto mosaika p-0 justify-content-between">
    <div class="col-md-5 p-3 border mosaikb mb-3">
    </div>

    <div class="col-md-5 p-3 border mosaikb mb-3">
    </div>
</div>

<div class="container col-md-11 border mosaikc mb-3">
     <h5 class="p-4">Mouvements les plus populaires</h5>

</div>

<div class=" col-md-11 m-auto row p-0 ">    

    <%= link_to "Page Statistiques", statistics_path, class: "btn btn-secondary p-2" %>
    <%= link_to "Tous les mouvements", root_path, class: "btn btn-secondary p-2 ml-2" %>
</div>

