
	<div>
	<h2 class="text-center">Nombre d'users crées chaque jour dans le temps</h2>
	</div>
	<br/><br/><br/>

	<div class="container col-md-10 p-0 ">
		<div class="bg-white p-4">
		<h4>users created / day</h4> 
		<br/>
		<%= line_chart(User.group_by_day(:created_at).count) %>
		</div>
	</div>
   <br/><br/>
	 

<div class="container col-md-10">
	<div class="row justify-content-between">
		<div class=" bg-white col-md-5 p-4 p-4">
			<h5 class="text-wrap">Repartition des Commitments pris</h5>
			<h6 class="text-wrap">user_commitment taken / commitment</h6>
			<%= pie_chart(UserCommitment.group(:commitment).count) %>
		</div>
		<div class="bg-white col-md-5 p-4">
			<h5 class="text-wrap">Repartition du nombre de Users par department</h5>
			<h6 class="text-wrap">nombre de users / departement</h6>
			<%= pie_chart(User.group(:department).count) %>
		</div>
	</div>
</div>

<br/><br/><br/>

<div>
	<h3 class="text-center">Evolution du nombre total de Users dans le temps</h3>
</div>
<br/><br/>

<div class="container col-md-10 bg-white ">
	<h4 class="p-4"> nombre total de users / day</h4>
	<%= line_chart(User.count_by_day) %>


