
<!-- PRESENTATION -->
<div>
	<h1 class="text-center">Statistiques globales du Lobby</h1>
	<h5 class="text-center text-muted">Suivez l'évolution du Lobby a travers ses statistiques essentielles
	</h5>


</div>
<br><br><br>

<!-- LINE CHART 1 -->
<div class="container col-md-10 p-0 ">
	<div class="bg-white p-4">
		<h5>Evolution du nombre total de Users dans le temps</h5>
		<h6 class="text-muted">nombre total de users / day</h6>
		<br>
		<%= line_chart(User.count_by_day) %>
	</div>
</div>
<br><br>

<!-- PIE CHART 1 & 2 -->
<div class="container col-md-10">
	<div class="row justify-content-between">
		<div class="statistics bg-white col-md-5 p-4 ">
			<h5 class="text-wrap text-center">Repartition des Mouvements</h5>
			<h6 class="text-wrap text-muted text-center">user_commitment taken / commitment</h6>
			<br>
			<%= pie_chart(Commitment.users_number, legend: false) %>
		</div>

		<div class="statistics bg-white col-md-5 p-4">
			<h5 class="text-wrap text-center">Nombre de Users par department</h5>
			<h6 class="text-wrap text-muted text-center">nombre de users / departement</h6>
			<br>
			<%= pie_chart(User.group(:department).count, legend: false) %>
		</div>
	</div>
</div>
<br><br>

<!-- LINE CHART 2 -->
<div class="container col-md-10 p-0 ">
	<div class="bg-white p-4">
		<h5>Nombre d'Utilisateurs crees chaque jour</h5>
		<h6 class="text-muted">users created / day</h6>
		<br>
		<%= line_chart(User.group_by_day(:created_at).count) %>
	</div>
</div>

<br><br>

<div class="col-md-10 m-auto p-0">
	<a class="btn btn-block btn-secondary" href="/">Retour à l'Accueil</a>
</div>


