/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

body {
	padding: 0;
	display: flex;
	flex-direction: column;

}

main {
	padding: 0;
	margin: 0;
	flex: 1;
	min-height: 80vh;
}

footer {
	background-color: #50565c!important;
	min-height: 20vh;
}

html {
	max-width: 100%;
}

.navbar-brand {
	color: rgb(46, 49, 49)!important;
}

.navbar {
	font-family: 'Nunito Sans';
	padding-bottom: 7px!important;
	padding-top: 8px!important;
	font-size: 13px!important;
	letter-spacing: 1px;
	background-color: #10191b!important;
}

.firstline {
	min-height: 300px;
}

.grafik {
	min-height: 250px;
}

p {
	word-wrap: break-word;
	text-align: justify;
}

.border-right {
	border-width: 6px !important;
}

.btn a:hover {
	text-decoration: none!important;
}

.btn-outline-primary a {
	color: #35e9c5!important;
	padding: 10px;
	padding-right: 15px;
	padding-left: 15px;
	min-width: 140px;
	height: 36px;
}

.btn-outline-primary a:hover {
	color: #212222!important;
	padding-right: 22px;
	padding-left: 22px;
}

.bg {
	left: 0;
	right: 0;
	z-index: -3;
	background-size: cover;
}

.statistics {
	min-width: 425px!important;
}

.mosaik {
	min-height: 450px!important;
}

.mosaika {
	min-height: 225px!important;
}

.mosaikb {
	min-width: 418px!important;
	min-height: 235px!important;
}

.mosaikc {
	min-height: 380px!important;
}

/* Quand la souris et dans la cart commitement, elle devient gris annoncer qu'elle est clicable */

.commitement:hover {
	background-color: #62c8a694;
	text-decoration: none;
}

.jumbotron {
	width: 100%;
	min-height: 600px;
	border: none!important;
	background-image: url("https://zupimages.net/up/20/13/8do8.jpg");
	background-position: center;
	background-size: cover;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	position: relative;
	background-size: cover;
	background-position: center top;
	overflow: hidden;
	padding: 0px!important;
	margin-bottom: 0px!important;
}

.btnjumb {
	width: 250px!important;
	height: 50px!important;
	margin: 0 auto!important;
	padding: 0!important;
	line-height: 50px!important;
	text-align: center!important;
}

.jumbotext {
	font-family: 'Bebas Neue', cursive!important;
	font-size: 55pt;
	font-weight: lighter;
}

.jumbosoustext {
	font-family: 'Bebas Neue', cursive!important;
	font-size: 30pt;
	font-weight: lighter;
	opacity: 80%;
}

#presentation {
	/*	margin-bottom: 80px!important; */
	/*	margin-top: 30px!important; */
}

#presentation p {
	font-size: 18px!important;
}

#stataccueil {
	margin-bottom: -50px;
	padding-bottom: 100px!important;
}

.icone {
	min-width: 100px!important;
	max-width: 200px!important;
	min-height: 200px!important;
}

.bgstathome {
	background-color: #62c8a69a!important;
}

.backg-secondary {
	background-color: #cf445bbb!important;
}

.profilpage {
	margin-top: -40px;
}

/*** DROPDOWN LIST ADMIN ***/

/* Dropdown Button */

.dropbtn {
	padding: 16px;
	font-size: 13px;
	border: none;
	cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
	display: none;
	position: absolute;
	background-color: white;
	margin-top: 5px;
	margin-left: 5px;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

/* Links inside the dropdown */

.dropdown-content a {
	color: #343a40;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
	display: block;
}

.btn-primarynav {
	color: #1f1e1e!important;
  background-color:#62c8a6!important;
  border-color:#62c8a6!important;
}

.btnlink{
	padding-top:5px!important;
	
}

.btnlinkoutline{
	padding-top:4px!important;
	
}
