<p>Bonjour <%= @resource.email %>!</p>

<p>Votre compte a été verrouillé pour cause de successions nombreuses d'échecs de connexions.</p>

<p>Cliquez sur le lien ci-dessous pour déverrouillé votre compte :</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
