<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h2>Merci ! </h2
		<br/>
		<p>Vous avez effectué un don de :<%= @charge.amount / 100%> € </p>
		<br/>
		<p>Le Lobby est un projet engagé, militant, social et technique qui souhaite apporter sa pierre à la résolution des problématiques contemporaines les plus importantes.<br/>
		Merci de rejoindre notre projet qui est d'allier progression technique et engagement militant, nous t'invitons dès maintenant à mettre en avant tes motivations!<br/>
		Nous souhaitons également faire évoluer Le Lobby, n'hésite pas à nous faire des retours depuis la page 'Contactez-nous' en bas du site.</p>
		<br/>
		<p>Encore merci pour votre don ! A bientôt sur <a href="http://le-lobby.herokuapp.com"> Le Lobby</a> ! </p>
	</body>
</html>
