<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<small> Numéro de payement -> <%= @charge.id %></small>
<h2> </h2>
<br/>
<p>Tu à effectuer un don de <%= @charge.amount / 100%> € </p>
<br/>
<p>Le Lobby est un projet engagé, militant, social et technique qui souhaite apporter sa pierre à la résolution des problématiques contemporaines les plus importantes.
  Merci de rejoindre notre projet qui est d'allier progression technique et engagement militant, nous t'invitons dès maintenant à mettre en avant tes motivations!
  Nous souhaitons également faire évoluer Le Lobby, n'hésite pas à nous faire des retours. </p>
<br/>
<p>Merci pour ton don ! A bientôt sur <a href="http://le-lobby.herokuapp.com"> Le-lobbyt</a> ! </p>
</body>
</html>
