

<div class="alert alert-primary alert-dismissible fade show mb-5" role="alert">
  <strong>Avertissement :</strong> Le Lobby est un projet étudiant en cours de développement et par conséquent en évolution permanente. En tant que structure nous nous présentons comme une Association loi de 1901 à but non-lucratif, mais il est important de noter que l’association n’existe pas à l’heure actuelle.
  Ainsi, il est impossible pour le moment d'effectuer un "don", de nous trouver sur le Registre National des Associations, de consulter notre charte ou nos statuts.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>



<%= render 'new.html.erb' %>