<footer class="footer page-footer font-small blue pt-4 pb-3  ">

  <div class="container">

    <div class="row">

      <div class="col-md-11 mt-md-0 mx-auto mt-3 ml-3 text-center">

        <h5 class="text-uppercase text-white">Liens utiles</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/contact/new" class="text-muted">Contactez-nous</a>
          </li>
          <li>
            <a href="/about" class="text-muted">Qui sommes-nous ?</a>
          </li>
        </ul>

      </div>

    </div>

  </div>

</footer>